.floatmenu{
	position:fixed;
	width:60px;
	height:60px;
	bottom:130px;
	right:40px;
	
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  z-index:10000;
}
.floatmenu:hover {
	text-decoration: none;
	
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-floatmenu{
	margin-top:17px;
}

.pulse{
	animation:  pulse-animation 2s infinite;
}
@keyframes pulse-animation {
	0% {
	 box-shadow: 0 0 0 0px #25d36657 rgba(0, 0, 0, 0.2);
	}
	100% {
	  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
  }
  
  @keyframes shake {
	 0% { transform: translateX(0) }
   25% { transform: translateX(5px) }
   50% { transform: translateX(-5px) }
   75% { transform: translateX(5px) }
   100% { transform: translateX(0) }
  }